*.class

# Package Files #
*.jar
*.war
*.ear

# Editor files
*.sublime-project
*.sublime-workspace
.idea
.iml

*.log
.classpath
.project
.settings/
target/
logs/
out/
src/main/

.DS_Store

# Images
images-equalized/
images-unequalized/
